   <%- include ('includes/header.ejs') %>
</head>

<body>
   <div class="jumbotron text-center">
      <div class="container">
        <p>The page you were looking for at <%= path %> does not exist.</p>
      </div>
    </div>
</body>
</html>